.dashboard {
  margin: 0 auto;
  max-width: 60rem;
  padding: 2rem;
}
section.dashboard h3 {
  text-transform: uppercase;
  padding: 2rem 0;
}

.dashboard a {
  color: var(--primary-color-darker);
}

.dashboard a:hover {
  background: none;
  color: var(--primary-color-brighter);
}

.delete-transaction {
  cursor: pointer;
}
