.main-header {
  background: var(--primary-color-darker);
  color: white;
  padding: 0 1rem;
}
.main-header h3 {
  color: white;
}

.navbar,
.navbar-menu {
  background: var(--primary-color-darker);
}

.navbar-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
}
.logo h3 {
  margin-left: 2rem;
  font-size: 2rem;
}

.main-header a:hover {
  background: var(--primary-color);
}

a,
a span,
a:hover {
  color: white;
}

@media (max-width: 880px) {
  .navbar-item h3 {
    display: none;
  }
  .navbar-item {
    flex-direction: row;
    justify-content: flex-start;
  }

  .navbar-item span {
    margin-left: 1rem;
  }
}
