.edit-account {
  margin-top: 2rem;
}
.edit-account h3 {
  text-transform: uppercase;
}

label span {
  font-weight: 600;
}
.label-radio {
  display: flex;
  align-items: center;
}
input[type='radio'] {
  margin-left: 1rem;
}
